<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GSMLG", suffix: " · BITW" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <bx-header style="z-index: 9999" aria-label="GSMLG Admin" role="banner">
      <bx-header-menu-button button-label-active="Close menu" button-label-inactive="Open menu" active="" collapse-mode="responsive" usage-mode=""></bx-header-menu-button>
      <bx-header-name href="javascript:void 0" prefix="GSMLG">[Platform]</bx-header-name>
      <bx-header-nav menu-bar-label="GSMLG Admin" role="navigation">
        <bx-header-nav-item href="javascript:void 0" role="listitem">
          <%= link "Home", to: Routes.page_path(@conn, :index) %>
        </bx-header-nav-item>
        <bx-header-nav-item href="javascript:void 0" role="listitem">Blogs</bx-header-nav-item>
        <bx-header-menu menu-label="Node Management" trigger-content="Node Management" role="listitem">
          <bx-header-menu-item href="javascript:void 0" tabindex="-1" role="listitem"><%= GSMLG.Node.Self.name %></bx-header-menu-item>
          <%= for node <- GSMLG.Node.Others.list() do %>
            <bx-header-menu-item href="javascript:void 0" tabindex="-1" role="listitem"><%= node %></bx-header-menu-item>
          <% end %>
        </bx-header-menu>
      </bx-header-nav>
    </bx-header>
    <bx-side-nav style="margin-top: 30px" aria-label="Side navigation" expanded="" role="navigation" collapse-mode="responsive" usage-mode="">
      <bx-side-nav-items role="list">
        <bx-side-nav-menu title="Blog" role="listitem" expanded>
          <bx-side-nav-menu-item href={Routes.blog_index_path(@conn, :index)} tabindex="-1" parent-has-icon="">
            Blog List
          </bx-side-nav-menu-item>
          <bx-side-nav-menu-item href={Routes.blog_modify_path(@conn, :new)} tabindex="-1" parent-has-icon="">
            New Blog
          </bx-side-nav-menu-item>
        </bx-side-nav-menu>
        <bx-side-nav-divider role="separator"></bx-side-nav-divider>
        <bx-side-nav-link href={Routes.node_management_path(@conn, :index)} role="listitem">
          Node Management
        </bx-side-nav-link>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
        <bx-side-nav-link href={Routes.live_dashboard_path(@conn, :home)} role="listitem">
          Live Dashboard
        </bx-side-nav-link>
        <% end %>
      </bx-side-nav-items>
    </bx-side-nav>
    <%= @inner_content %>
  </body>
</html>
