{
	# General Options
	debug
	http_port 10080
	https_port 10443

	# TLS Options
	auto_https ignore_loaded_certs
	email gsmlg.com@gmail.com

	skip_install_trust

	# Server Options
	servers {
		protocol {
			allow_h2c
			experimental_http3
		}
	}
}

http://10.100.1.10:10180 {
  route {
      static_site
  }
}

