{
	# General Options
	# debug

	# TLS Options
	auto_https ignore_loaded_certs
	skip_install_trust

	# Server Options
	servers {
		protocol {
			allow_h2c
			experimental_http3
		}
	}
}

(common) {
    header /* {
        -Server
    }
}

http://10.100.1.10:10180 {
  route {
      static_site
  }
  log {
    output stdout
  }
  import common
}

